{% extends "base.html" %}
{% block content %}
<div class="container">
{% include '_messages.html'%}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

    <div class="text-center text-white bg-info p-2">
        <h2>Add a Product</h2>
    </div>

    <div>
        <form action="" method="POST" ENCTYPE="multipart/form-data">
            {{ form.csrf_token }}
            <div>
                {{ form.name.label(class="form-control-label green-text") }}
                {{ form.name(class="form-control form-control-md") }}

            </div>
            <div>
                {{ form.price.label(class="form-control-label") }}
                {{ form.price(class="form-control form-control-lg") }}
            </div>
            <div>
                {{ form.discount.label(class="form-control-label") }}
                {{ form.discount(class="form-control form-control-lg", placeholder="Add product discount") }}
            </div>
            <div>
                {{ form.stock.label(class="form-control-label") }}
                {{ form.stock(class="form-control form-control-lg") }}
            </div>

            <label for="brand">Add a brand</label>
            <select name="brand" id="brand" class="form-control">
                 <option value="">Select a brand</option>
                {% for brand in brands %}
                <option value="{{brand.id}}">{{brand.name}}</option>
                {% endfor %}
            </select>

            <label for="category">Add a Category</label>
            <select name="category" id="category" class="form-control" required>
                <option value="">Add a category</option>
                {% for category in categories %}
                <option value="{{category.id}}"> {{category.name}} </option>
                {% endfor %}
            </select>


            <div>
                {{ form.colors.label(class="form-control-label") }}
                {{ form.colors(class="form-control form-control-lg") }}
            </div>
            <div>
                {{ form.description.label(class="form-control-label") }}
                {{ form.description(class="form-control form-control-lg") }}
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        {{ form.image_1.label(class="form-control-label") }}
                        {{ form.image_1(class="form-control form-control-lg") }}
                    </div>
                    <div class="col-md-4">
                        {{ form.image_2.label(class="form-control-label") }}
                        {{ form.image_2(class="form-control form-control-lg") }}
                    </div>
                    <div class="col-md-4">
                        {{ form.image_3.label(class="form-control-label") }}
                        {{ form.image_3(class="form-control form-control-lg") }}
                    </div>
                </div>
            </div>

            <div>
                {{ form.submit(class="form-control form-control-lg bg-info") }}
            </div>
        </form>
    </div>
    </div>
    <div class="col-md-2"></div>
</div>

{% endblock content %}