{% extends 'base.html' %}
{% block content %}
<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-3 my-4">
            <div class="list-group">
                <a href="/tshirt" class="list-group-item">T-Shirt</a>
                <a href="/bands" class="list-group-item">Bands</a>
                <a href="/sunglasses" class="list-group-item">Sunglasses</a>
                <a href="/jewelry" class="list-group-item">Jewelry</a>
            </div>
        </div>
        <!-- /.col-lg-3 -->
        <div class="col-lg-9">
            <div class="row">
                {% for product in tshirts %}
                <div class="col-lg-6">
                    <div class="card mt-4">
                        <img class="card-img-top img-fluid"
                             src="static/images/product/{{product.category.name}}/{{product.image_1}}" alt="">
                    </div>
                </div>
                <!-- /.card -->
                <div class="col-lg-6">
                    <div class="card card-outline-secondary my-4">
                        <div class="card-header">
                            Product Details
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">{{ product.name}}</h3>
                            <h4>${{ product.price}}</h4>
                            <p class="card-text">{{ product.desc}}</p>
                            <a href="/{{product.category.name}}?order={{product.id}}" class="btn btn-success">Order Now</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- /.card -->

            </div>
<!--
        </div>
        <!-- /.col-lg-9 -->


    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
{% endblock %}